body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: left;
}

main {
  margin-bottom: 100px;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
}

.title{
  color:white !important;
  text-decoration: none !important;
  cursor: pointer;
}

.theme-toggle {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.config{
  display:flex;
}

.container {
  max-width: 60%;
  min-width: 30%;
  margin: 10px auto;
  padding: 20px;
}

.container .form,
.container table {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="date"],
.form textarea {
  width: calc(30% - 5px);
  padding: 8px;
  margin-right: 10px;
  height: 16px;
}

.list input[type="text"]{
  width: 100%;
}

.list {
  justify-content: normal;
}


.form input[type="text"],
.form input[type="date"]{
  margin-bottom: auto;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  accent-color: #4CAF50;
}

#descriptionInput {
  width: calc(60% - 5px);
}

.form button, #editModal button {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: calc(17% - 5px);
  margin-bottom: auto;
}

.form button:hover {
  background-color: #45a049;
}

table {
  text-align:left;
}

#taskTable {
  margin-top: 25px;
  border-collapse: collapse;
}

#taskTable thead {
  border-bottom: 2px solid #444;
}

#taskTable tbody tr {
  border-bottom: 2px solid #ddd;
}

#taskTable tbody td {
  padding: 15px 10px;
}

#taskTable tbody input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0 10%;
}

.table-flex, .table-flex a {
  display:flex;
  padding:0px 0px 0px 5px;
}

.table-flex, .table-flex a {
  display:flex;
  padding:0px 0px 0px 5px;
}


.completed {
  text-decoration: line-through;
  color: grey;
}

input[type="text"],
input[type="date"],
input[type="checkbox"],
input[type="radio"],
textarea {
  background-color: #fff;
  color: #000;
}

.dark-mode input[type="text"],
.dark-mode input[type="date"],
.dark-mode input[type="checkbox"],
.dark-mode input[type="radio"],
.dark-mode textarea {
  background-color: #333;
  color: #fff;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode a {
  color: #4CAF50;
  /*color: #61dafb;*/
}

#toggleFilterButton{
  color:#4CAF50;
}

a {
  /*color: #007bff;*/
  color: #45a049;
}

#filterOptions {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px 30px 0px;
}

.filterOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.filterOption label {
  margin-right: 10px;
}

.filterOption input[type="text"],
.filterOption input[type="date"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filterOption button{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px 5px 0px 5px;
}

.filterOptionButtons {
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos uniformemente */
    align-items: center; /* Para centrar verticalmente los elementos */
    margin-top: 15px; /* Ajusta según sea necesario */
}


.filterOption button:hover{
  background-color: #45a049;
}

.a-btn{
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.a-action{
  text-decoration: none;
  cursor: pointer;
}

#editModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
  align-items: center;
  justify-content: center;
  color: white;
}

#modalHeader {
  text-align: center;
}

#modalContainer {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 5% 15px 5%;
  border-radius: 10px;
}

.modal-content {
  display:grid;
  padding: 10px;
}

.modal-content label{
  padding-bottom: 10px;
}

.modal-buttons {
  text-align: center;
}

#editModal button{
  margin-top: 25px;
  width: auto;
}

.gear-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  padding: 0px 10px;
}

#settingsMenu a {
  color: white;
}

#settingsMenu a:hover{
  color: #45a049;
}


#settingsMenu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#settingsMenu.show {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 2px solid #444;
  border-radius: 10px;
}

#dueDateHeader {
  cursor:pointer;
}

#listName {
  display:flex;
  justify-content:center;
  font-weight: bold;
  font-size: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#listNameContainer a {
  color: #4CAF50;
  vertical-align: middle;
}

#listNameContainer a:hover{
  color: #45a049;
}

#listOptions {
  display: none;
  position: absolute;
  top: 50px;
  right: auto;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#listOptions.show {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 2px solid #444;
  border-radius: 10px;
  cursor: pointer;
  max-height: 150px;
  max-width: 500px;
  overflow: auto;
}

#listOptions span:hover{
  color: #45a049;
}

#listNameLink {
  font-size: 23px;
  display: inline-block; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.a-subtask{
  background-color:white
}

.task-row {
  background-color: #ffffff;
}

.subtask-row {
  background-color: #f0f0f0;
}

.dark-mode .task-row {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .subtask-row {
  background-color: #222222;
  color: #ffffff;
}

.subtask-row {
  display: none;
}

.subtask-row.subtask-visible {
  display: table-row;
}

